@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center mb-4">
     <h1 class="display-4">Welcome to Clinic Management System</h1> 
    <h1 class="display-4">Welcome to Clinic Management System</h1>

    <p>
        A software system for a small clinic enabling record-keeping, 
        examination, and report writing for admissions of registered patients by 
        physicians registered within the system.
    </p>
</div> *@


<div class="container text-center mt-5">
    <h1 class="display-4 mb-4">Welcome to Clinic Management System</h1>
    <p class="lead">A software system for a small clinic that enables record-keeping, examination, and writing
        of medical<br /> reports for admissions of registered patients by physicians registered within the system.
    </p>
</div>
