@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Clinic Management System</h1>
    <p class="text-center">A software system for a small clinic enabling record-keeping, 
        examination, and report writing for admissions of registered patients by 
        physicians registered within the system.</p>
</div>
