@model clinic_management_system.Models.MedicalReport

@{
    ViewData["Title"] = "Edit";
}

<h4>MedicalReport</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AdmissionId" />
            <div class="form-group">
                <label asp-for="ReportDescription" class="control-label"></label>
                <textarea asp-for="ReportDescription" class="form-control mb-2" rows="8"></textarea>
                <span asp-validation-for="ReportDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update Medical Report" class="btn btn-primary mb-2" style="width: 190px;" />
            </div>
        </form>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete Medical Report" class="btn btn-danger mb-2" style="width: 190px;" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Admissions">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
